<div class="container">
    <div class="fashion_image">
        <div *ngFor="let file of fashionPiece[0].fashionFiles">
            <img [src]="getFashionPiecePath(file)">
        </div>
    </div>
    <div class="fashion_infos">
        <h2>Merkmale:</h2>
        <ul>
            <li *ngFor="let label of fashionPiece[0].labels">{{label}}</li>
            <li *ngFor="let text of fashionPiece[0].text">{{text}}</li>
            <li *ngFor="let logo of fashionPiece[0].logos">{{logo}}</li>
        </ul>
        <h1>Beschreibung:</h1>
        <textarea cols="50" rows="10" [(ngModel)]="description"></textarea><br>
        <button mat-raised-button color="primary" (click)="gotoDisplay()">Zurück</button>
    </div>
    <div class="fashion_upload">
        <img [src]="getFashionUpload()">
    </div>
</div>