<div class="fashion_show">
    <div *ngIf="fashionDiscoveryResponse !== null">
        <img [src]="uploadedFile(fashionDiscoveryResponse.uploadfile)">
    </div>
    <hr>
</div>
<div>
    <div class="preview" *ngIf="(fashionDiscoveryResponse !== null) && (fashionDiscoveryResponse.fashionSet.length > 0)">
        <div *ngFor="let part of fashionDiscoveryResponse.fashionSet; let indexOfelement=index;" class="pic">
            <img [src]="fashionPartFile(part.fashionFiles[0], part.name)" height="200" width = "150" (click)="goToDetails(fashionDiscoveryResponse.uuid,part.name)">
            <p>{{part.name}}</p>
        </div>
    </div>
</div>
<div class="fashion_show" *ngIf="(uuid !== null) && (uuid !== '')">
    <button mat-raised-button color="primary" (click)="goBack()">Neues Bild</button>
</div>
