<div class="fashion_show">
    <div *ngIf="fashionDiscoveryResponse !== null">
        <!--<img [src]="uploadedFile(fashionDiscoveryResponse.uploadfile)" height="720" width="400"> height="620" width="260"-->
        <img [src]="uploadedFile(fashionDiscoveryResponse.uploadfile)">
    </div>
    <button mat-raised-button color="primary" (click)="openFile()" *ngIf="(uuid === null) || (uuid === '')">Bild hochladen
        <input type="file" style="display:none" (change)="handle($event.target.files)">
    </button>
    <hr *ngIf="fashionDiscoveryResponse !== null">
</div>
<div>
    <div class="preview" *ngIf="(fashionDiscoveryResponse !== null) && (fashionDiscoveryResponse.fashionPaths.length > 1)">
        <div *ngFor="let part of fashionDiscoveryResponse.fashionPaths" class="pic">
            <img [src]="fashionPartFile(part)" height="200" width = "150">
            <p>Bild</p>
        </div>
    </div>
</div>





